*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial",sans-serif;

}
a{
    text-decoration: none;
}
.hero{
    background-color: #f8f8f8;

}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
    
} 

.heading h2{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;

}
.hero-content h2{
         font-size: 38px;
          margin-bottom: 20px;
          color:#333;
}

.hero-content p{
    font-size: 24px;
     line-height: 1.5;
     margin-bottom: 40px;
     color:#666;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
   border-radius: 10px; 
}
.hero-content button:hover{
    background-color: #ff6347;
    transform:scale(1.1) ;
}
@media screen and (max-width:768){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    
    }
}
.hero{
    margin: 0px;
}

.nav-list{
    width: 100%;
    display:flex;
    align-items:right;
    margin-left:0%;
    padding:0px 0px;
    background-color: black;
    }
    .nav-list li{
    list-style:none;
    padding:25px 10px;
    align-items:right;
    background-color: black;
    }
    .nav-list li a{
        background-color: black;
    padding:0px 10px;
    text-decoration: none;
    color:white;
    
    }
    .nav-list li a:hover{
    text-decoration: none;
    color:gray;
    transition:ease;
    border: 0.5px solid #222222; 
    color:gray; 
    background-color:#0f0f0f;
    }
    .hero-content{
        text-decoration: none;
    }